/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}


.header-links:hover{
  color:white;
}

/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  background-color: #FFC017;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

.background-color{
  background-color: #6D9AC4;
}
.primary-color{
  background-color: #FFC017;
  color: #FFC017;
}
.hover-color:hover{
  color:darkcyan;
}

.footer-icons:hover{
  transform: scale(1.2);
  
}
.nav-link:hover{
  transform: scale(1.05);

}

/* Upcoming Elections */

/*==================================================
  Nearby People CSS
  ==================================================*/

  .people-nearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .people-nearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
  }
  
  .people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  
  .profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .profile-link{
    text-decoration: none;
  }
  /* Upcoming elections end */